<div class="container" style="max-width:520px;">
  <div class="card">
    <h1>Thanks, we got it!</h1>
    <p>Your ticket <strong>#<%= ticket.id %></strong> has been submitted. We'll reply to <strong><%= ticket.customer_email %></strong> as soon as possible.</p>
    <a class="btn" href="/">Submit another ticket</a>
  </div>
</div>
